<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/registerstyle.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="favicon.png">

    <title>Obraski Image Hosting</title>
</head>

<body>
    <div class="form">
        <h1 class="form-title">Registration</h1>
        <hr>
        <form method="POST" id="id">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label --wider" id="login">
                <input class="mdl-textfield__input --medium-font" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username" id="login-label">Login</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label --wider">
                <input class="mdl-textfield__input --medium-font" type="email" id="email" name="email">
                <label class="mdl-textfield__label " for="email" id="password-label">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label --wider" id="login">
                <input class="mdl-textfield__input --medium-font" type="password" id="password" name="password">
                <label class="mdl-textfield__label " for="password">Password</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label --wider" id="password">
                <input class="mdl-textfield__input --medium-font" type="password" id="password-repeat">
                <label class="mdl-textfield__label " for="password-repeat">Password (Repeat)</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submit" type="submit">
                    Register
                  </button>
        </form>


    </div>
</body>

</html>